* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-color: rgba(222, 211, 226, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.border-container {
  width: 18rem;
  height: 28rem;
  border-radius: 1rem;
  background-color: rgb(226, 211, 226);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  position: relative;
  width: 16rem;
  height: 26rem;
  padding: 3rem;
  background-color: #fff;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.circle-container {
  width: 2rem;
  height: 20rem;
  margin-left: -1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: centers;
}
.circle {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
.rectangle-container {
  width: 2rem;
  height: 19rem;
  margin-left: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.rectangle {
  width: 2rem;
  height: 3rem;
  border: 0.2rem solid lightpink;
}
.cat-img {
  position: absolute;
  bottom: 0rem;
  right: -3rem;
  width: 75%;
}

@media (min-width: 576px) {
  .border-container {
    width: 30rem;
    height: 20rem;
  }
  .container {
    width: 28rem;
    height: 18rem;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
  .circle-container {
    width: 20rem;
    height: 2rem;
    flex-direction: row;
  }
  .circle {
    width: 2rem;
    height: 2rem;
  }
  .rectangle-container {
    width: 14rem;
    height: 3rem;
    margin-top: 2rem;
    margin-left: 0;
    flex-direction: row;
  }
  .rectangle {
    width: 2rem;
    height: 3rem;
  }
  .cat-img {
    position: absolute;
    bottom: 0rem;
    right: -4rem;
    width: 55%;
  }
}
@media (min-width: 768px) {
  .border-container {
    width: 40rem;
    height: 26rem;
  }
  .container {
    width: 36rem;
    height: 22rem;
  }
}
